body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    background-image: linear-gradient(129deg,#f3a29a,#a18fec);
    color: white;
    min-height: 100vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    font-size: 5rem;
}
header,form {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,form button {
    padding: 1.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    outline: none;
}
form button {
    color: #a18fec;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
form button:hover {
    background: #a18fec;
    color: white;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list {
    min-width: 30%;
    list-style: none;
}
.todo {
    padding-left: 0.5rem;
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.todo li {
    flex: 1;
}
.trash-btn,.complete-btn {
    background: #ee4e3f;
    border: none;
    color: white;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn {
    background: #09f320;
}
.fa-trash,.fa-check {
    pointer-events: none;
}
.completed {
    text-decoration: line-through;
    opacity: 0.7;
}
.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
}
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select {
    color: #f3a29a;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after {
    content: "\25BC";
    position: absolute;
    background: #f3a29a;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}